<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="black">
            <v-toolbar-title>Enter Scan</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form @submit.prevent="scanClick">
              <v-alert :value="isError" type="error">
                {{ error }}
              </v-alert>
              <v-text-field
                label="Sample Name"
                type="text"
                v-model="sampleName"
                prepend-icon="create"
              ></v-text-field>
              <!--              <img :src="imageUrl" height="100" v-if="imageUrl" />-->
              <v-text-field
                label="Select Blank Image"
                @click="pickBlankImage"
                @keypress="pickBlankImage"
                v-model="blankImageName"
                prepend-icon="insert_photo"
              ></v-text-field>
              <input
                type="file"
                style="display: none"
                ref="blankImage"
                accept="image/jpeg"
                @change="onBlankImagePicked"
              />
              <v-text-field
                label="Select Sample Image"
                @click="pickFile"
                @keypress="pickFile"
                v-model="imageName"
                prepend-icon="insert_photo"
              ></v-text-field>
              <input
                type="file"
                style="display: none"
                ref="image"
                accept="image/jpeg"
                @change="onFilePicked"
              />
              <v-select
                label="Select a method"
                v-model="method"
                :items="methods"
                prepend-icon="functions"
              >
              </v-select>
              <v-combobox
                v-if="method === 'lambda'"
                v-model="wavelengths"
                :rules="[v => wavelengthRule(v) || 'invalid wavelength']"
                hint="Wavelengths should be in the range 400-700."
                label="Enter wavelength(s)"
                type="number"
                min="400"
                max="700"
                multiple
                small-chips
                prepend-icon="waves"
              >
              </v-combobox>
              <v-card-actions v-if="isLoading">
                <v-spacer></v-spacer>

                <v-progress-circular
                  :size="50"
                  color="primary"
                  indeterminate
                  v-show="1"
                ></v-progress-circular>
              </v-card-actions>
              <v-card-actions v-else>
                <v-spacer></v-spacer>

                <v-btn color="primary" type="submit">Scan</v-btn>
              </v-card-actions>
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { axiosUploader } from "@/AxiosConfiguration.js";
export default {
  name: "ScanPage",
  data() {
    return {
      isLoading: false,
      fullPage: true,
      isError: false,
      error: "",
      sampleName: null,
      methods: ["lambda", "scan"],
      method: null,
      wavelengths: [],
      imageName: null,
      blankImageName: null,
      imageUrl: null,
      imageFile: null,
      blankImageUrl: null,
      blankImageFile: null
    };
  },

  methods: {
    scanClick: async function() {
      if (
        !this.method ||
        !this.sampleName ||
        !this.imageFile ||
        !this.blankImageFile
      ) {
        this.error = "Please fill out all fields.";
        this.isError = true;
        return;
      }
      if (
        (this.method == "lambda" && !this.wavelengthRule(this.wavelengths)) ||
        (this.method == "lambda" && this.wavelengths.length == 0)
      ) {
        this.error = "Please enter wavelengths in the range 400-700 nm.";
        this.isError = true;
        return;
      }

      // --- handle error ---
      // Images uploaded not in correct format

      let formData = new FormData();
      formData.append("sampleImg", this.imageFile);
      formData.append("blankImg", this.blankImageFile);
      formData.append("sampleName", this.sampleName);

      formData.append("method", this.method);
      if (this.method === "lambda")
        formData.append("wavelengths", this.wavelengths);
      //if ()
      this.isLoading = true;
      await axiosUploader
        .post("/scan", formData)
        .then(res => {
          this.$router.push("/analysis/" + res.data + "/" + this.method);
        })
        .catch(() => {
          this.isLoading = false;
          this.isError = true;
          this.error = "Failed to scan. Please try again.";
          this.clearData();
        });
    },
    clearData() {
      this.sampleName = null;
      this.method = null;
      this.wavelengths = [];

      (this.imageName = ""), (this.imageUrl = ""), (this.imageFile = "");
      (this.blankImageName = ""),
        (this.blankImageUrl = ""),
        (this.blankImageFile = "");
    },
    pickFile: function() {
      this.$refs.image.click();
    },
    pickBlankImage: function() {
      this.$refs.blankImage.click();
    },
    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.imageUrl = fr.result;
          this.imageFile = files[0];
        });
      } else {
        this.imageName = "";
        this.imageFile = "";
        this.imageUrl = "";
      }
    },
    onBlankImagePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.blankImageName = files[0].name;
        if (this.blankImageName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.blankImageUrl = fr.result;
          this.blankImageFile = files[0];
        });
      } else {
        this.blankImageName = "";
        this.blankImageFile = "";
        this.blankImageUrl = "";
      }
    },
    onCancel() {
      console.log("User cancelled the loader.");
    },

    wavelengthRule(v) {
      for (let i = 0; i < v.length; i++) {
        if (v[i] < 400 || v[i] > 700) return false;
      }
      return true;
    }
  }
};
</script>

<style></style>
