<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-content>
    <div v-if="type !== 'scan'">
      <div class="chart-wrapper">
        <v-data-table
          :headers="headers"
          :items="getTable"
          :light="true"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td class="text-xs-right">{{ props.item.wave }}</td>
            <td class="text-xs-right">{{ props.item.transmit }}</td>
            <td class="text-xs-right">{{ props.item.absorb }}</td>
          </template>
        </v-data-table>
      </div>
    </div>
    <div v-else>
      <div class="chart-wrapper">
        <div v-if="this.transmit_flag == 1">
          <Plotly
            :data="[this.trans]"
            :layout="this.trans_layout"
            :display-mode-bar="true"
          ></Plotly>
        </div>
        <div v-else>
          <Plotly
            :data="[this.absorb]"
            :layout="this.absorb_layout"
            :display-mode-bar="true"
          ></Plotly>
        </div>
        <div v-if="this.transmit_flag == 1">
          <v-btn color="primary" block v-on:click="toggle"
            >View Absorbance</v-btn
          >
        </div>
        <div v-else>
          <v-btn color="primary" block v-on:click="toggle"
            >View Transmittance</v-btn
          >
        </div>
      </div>
    </div>
  </v-content>
</template>

<script>
import { Plotly } from "vue-plotly";
import axios from "@/AxiosConfiguration.js";
export default {
  components: {
    Plotly
  },
  props: { id: null, type: null },
  data: function() {
    return {
      trans: { x: [], y: [], type: "scatter" },
      absorb: { x: [], y: [], type: "scatter" },
      transmit_flag: 1,
      trans_layout: {
        title: "Transmittance",
        xaxis: {
          title: "Wavelength (nm)",
          titlefont: {
            color: "black",
            size: 12
          }
        },
        yaxis: {
          title: "Transmittance",
          xaxis: {
            title: "Wavelength (nm)",
            titlefont: {
              color: "black",
              size: 12
            }
          },
          yaxis: {
            title: "Transmittance",
            titlefont: {
              color: "black",
              size: 12
            }
          }
        }
      },
      absorb_layout: {
        title: "Absorbance",
        xaxis: {
          title: "Wavelength (nm)",
          titlefont: {
            color: "black",
            size: 12
          }
        },
        yaxis: {
          title: "Absorbance",
          titlefont: {
            color: "black",
            size: 12
          }
        }
      },

      headers: [
        { align: "center", text: "Wavelength (nm)", value: "wave" },
        { align: "center", text: "Transmittance", value: "transmit" },
        { align: "center", text: "Absorbance", value: "absorb" }
      ]
    };
  },
  computed: {
    getTable() {
      let absorb_table = [];
      for (let i = 0; i < this.trans.x.length; i++) {
        absorb_table.push({
          wave: this.absorb.x[i],
          absorb: this.absorb.y[i],
          transmit: this.trans.y[i]
        });
      }
      return absorb_table;
    }
  },
  methods: {
    toggle: function() {
      this.transmit_flag *= -1;
    },

    setData: function(info) {
      this.trans.x = info.transmittance.waveLengths;
      this.trans.y = info.transmittance.signal;
      this.absorb.x = info.absorbance.waveLengths;
      this.absorb.y = info.absorbance.signal;
    }
  },
  created() {
    // Parse in fake data, assuming from what New proposes
    // fetch("https://next.json-generator.com/api/json/get/EkMPD9_yw")
    // .then(res => res.json())
    // .then(json => (this.data = json))
    // .catch(err => console.log(err));
    axios
      .get("/analysis/info", {
        params: {
          scanId: this.id //this.id
        }
      })
      .then(res => res.data)
      .then(data => this.setData(data));
  }
};
</script>

<style scoped>
.chart-wrapper {
  width: 100%;
  height: 2000px;
}
</style>
