<template>
  <div class="NavBar">
    <v-app id="inspire">
      <v-navigation-drawer app temporary v-model="sidebar">
        <v-list>
          <v-list-tile
            v-for="item in filterMenus"
            :key="item.title"
            :to="item.link"
          >
            {{ item.title }}
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar app>
        <v-toolbar-title class="headline text--lighten-2">
          <v-toolbar-side-icon
            @click.native.stop="sidebar = !sidebar"
            class="hidden-lg-and-up"
          >
          </v-toolbar-side-icon>

          <router-link to="/" tag="span" style="cursor: pointer">
            <img :src="require('@/assets/logo_transparent.png')"
          /></router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items v-if="!sidebar">
          <v-btn
            v-for="item in filterMenus"
            :key="item.title"
            :to="item.link"
            flat
          >
            <span v-if="item.title !== 'Log out'"> {{ item.title }} </span>
            <v-icon v-if="item.title === 'Log out'"> exit_to_app </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <router-view></router-view>
    </v-app>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      sidebar: false
    };
  },
  computed: {
    ...mapGetters(["filterMenus"])
  }
};
</script>

<style scoped>
img {
  max-width: 110px;
}
</style>
