<template>
  <v-content>
    <v-container>
      <div v-if="data.length == 0 && dataLoaded">
        <Nothing :data="sendNothing" />
      </div>
    </v-container>
    <v-container fluid grid-list-lg>
      <v-layout justify-end row>
        <v-flex md1 sm1> </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex v-for="d in data" :key="d.time" xs12 md6>
          <AnalysisCard :data="d" :isOwner="isOwner"></AnalysisCard>
        </v-flex>
      </v-layout>

      <div>
        <v-dialog v-model="deleteDialog" width="300">
          <v-card>
            <v-card-title>
              <span class="title">Confirm delete?</span>
            </v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn @click="deleteDialog = false">
                No
              </v-btn>
              <v-btn color="warning" @click="confirmDeleteClick">
                Yes
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>

      <div>
        <v-dialog v-model="shareDialog" width="500">
          <v-card>
            <v-card-title>
              <div class="title">Share</div>
            </v-card-title>
            <v-flex xs10 offset-xs1>
              <v-combobox
                v-model="emails"
                hint="Sample will be shared with these recipients."
                label="Enter email addresses"
                multiple
                small-chips
                prepend-icon="group_add"
              >
              </v-combobox>
            </v-flex>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn @click="shareDialog = false">
                Cancel
              </v-btn>
              <v-btn color="primary" @click="confirmShareClick">
                Share
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
    </v-container>
  </v-content>
</template>

<script>
import AnalysisCard from "../AnalysisCard/AnalysisCard";
import SummaryBox from "../SummaryBox/SummaryBox";
import axios from "@/AxiosConfiguration.js";
import Nothing from "../Nothing/Nothing";
import { axiosUploader } from "@/AxiosConfiguration.js";
export default {
  data() {
    return {
      sendNothing: {
        msg: "Looks like you haven't analyzed anything.",
        link: "/scan",
        linkName: "Scan"
      },
      data: [],
      isOwner: true,
      deleteDialog: false,
      shareDialog: false,
      scanIdForDelete: "",
      scanIdForShare: "",
      emails: [],
      dataLoaded: false
    };
  },
  components: { AnalysisCard, SummaryBox, Nothing },

  beforeUpdate() {
    // this.data = this.data.sort((a, b) => {
    //   return new Date(b.date) - new Date(a.date);
    // });
  },
   async mounted() {
    console.log("call mouted analysis");
    const self = this;
    await axios
      .get("/analysis/myData")
      .then(res => res.data)
      .then(data => (self.data = data));
    this.$root.$on("confirm_delete", scanId => {
      this.deleteDialog = true;
      this.scanIdForDelete = scanId;
    });
    this.$root.$on("confirm_share", scanId => {
      this.shareDialog = true;
      this.scanIdForShare = scanId;
    });
    this.dataLoaded = true
  },

  methods: {
    confirmDeleteClick: function() {
      // Be ready to make a post request
      return axios
        .post("/analysis/delete", {
          scanId: this.scanIdForDelete
        })
        .then(() => {
          this.$router.go();
        });
    },
    confirmShareClick: function() {
      let formData = new FormData();
      formData.append("scanId", this.scanIdForShare);
      formData.append("emails", this.emails);
      axiosUploader.post("/analysis/share", formData).then(() => {
        this.$router.go();
      });
    }
  }
};
</script>
