<template>
  <div class="SummaryBox">
    <v-layout row wrap>
      {{ todayDate }}

      <v-flex md12 sm12>
        <H1>Today's Summary </H1>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  props: {
    todayDate: Object
  }
};
</script>
