<template>
  <div name="App">
    <NavBar />
  </div>
</template>

<script>
import NavBar from "./components/NavBar/NavBar";
export default {
  name: "App",
  components: {
    NavBar
  }
};
</script>
