<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="black">
            <v-toolbar-title>Sign in</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form @submit.prevent="processLogin">
              <v-alert :value="loginError" type="error">
                {{ loginError }}
              </v-alert>
              <v-text-field
                prepend-icon="person"
                name="login"
                label="Login"
                type="text"
                v-model="username"
              ></v-text-field>
              <v-text-field
                prepend-icon="lock"
                name="password"
                label="Password"
                id="password"
                type="password"
                v-model="password"
              ></v-text-field>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" type="submit">Login</v-btn>
              </v-card-actions>
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "LoginPage",
  components: {},
  data() {
    return {
      error: "",
      username: "",
      password: ""
    };
  },
  computed: {
    ...mapState(["loginError"])
  },

  methods: {
    ...mapActions(["toggleListOfMenu", "doLogin"]),
    processLogin() {
      this.doLogin({ username: this.username, password: this.password });
    },
    clearData() {
      this.username = "";
      this.password = "";
    }
  }
};
</script>

<style></style>
