<template>
  <v-content>
    <section>
      <v-parallax :src="require('@/assets/landing1.jpg')" height="600">
        <v-layout align-center column justify-center>
          <h1 class="display-2 font-weight-thin mb-3 black--text">
            Spectrophotometer
          </h1>
          <h4 class="subheading font-weight-bold">
            Scan, Analyze, Share Today!
          </h4>
          <h1 v-if="this.$store.state.accessToken && dataLoaded">
            Welcome back {{ data.username }} | {{ data.firstName }}
            {{ data.lastName }}
          </h1>
        </v-layout>
      </v-parallax>
    </section>

    <section>
      <v-layout column wrap class="my-5" align-center>
        <v-flex xs12 sm4 class="my-3">
          <div class="text-xs-center">
            <h2 class="headline">Complete in 3 Steps</h2>
          </div>
        </v-flex>
        <v-flex xs12>
          <v-container grid-list-xl>
            <v-layout col wrap align-top>
              <v-flex xs12 md4>
                <v-card class="elevation-0 transparent">
                  <v-card-text class="text-xs-center">
                    <v-icon x-large class="blue--text text--lighten-2">
                      flash_on
                    </v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-xs-center">Scan</div>
                  </v-card-title>
                  <v-card-text class="layout justify-center">
                    <div class="text-xs-center">
                      Upload images of blank and sample.
                    </div>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card class="elevation-0 transparent">
                  <v-card-text class="text-xs-center">
                    <v-icon x-large class="blue--text text--lighten-2">
                      info
                    </v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">Analyze</div>
                  </v-card-title>
                  <v-card-text>
                    <div class="text-xs-center">See results immediately.</div>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card class="elevation-0 transparent">
                  <v-card-text class="text-xs-center">
                    <v-icon x-large class="blue--text text--lighten-2">
                      share
                    </v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-xs-center">
                      Share
                    </div>
                  </v-card-title>
                  <v-card-text>
                    <div class="text-xs-center">
                      Share them with your friends!
                    </div>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </section>

    <section>
      <v-container>
        <v-layout>
          <v-flex xs12 class="text-xs-center">
            <img
              height="300px"
              :src="require('@/assets/logo_transparent.png')"
            />
          </v-flex>
        </v-layout>
      </v-container>
    </section>
  </v-content>
</template>

<script>
import axios from "@/AxiosConfiguration";
export default {
  name: "App",
  data: function() {
    return {
      title: "Landing Page (for dev only)",
      data: Object,
      dataLoaded: false
    };
  },
  computed: {},

  mounted: function() {
    this.$store.dispatch("fetchAccessToken");
    if (this.$store.state.accessToken) {
      axios
        .get("/userInfo")
        .then(res => (this.data = res.data))
        .catch(err => console.log(err));
      this.dataLoaded = true
    }
  }
};
</script>
