<template>
  <v-card>
    <v-img class="white--text" height="120px" :src="ranImage" />
    <v-card-title>
      <v-container fluid>
        <v-layout row wrap>
          <v-flex md6 xs12>
            <div>
              <div class="headline">{{ data.sampleName }}</div>
              <span v-if="data.methodType !== 'scan'"
                >Wavelengths : {{ data.waves }}
              </span>
            </div>
            <div>
              <span v-if="!this.isOwner"
                >Shared by: {{ data.owner.username }} [{{ data.owner.email }}]
              </span>
            </div>
            <div>
              <span v-if="data.sharedUsersDTO.length !== 0"
                >Shared with:
                <span v-for="(user, index) in data.sharedUsersDTO.slice(0, 2)"
                  >{{ user.username }} [{{ user.email }}]
                  <span v-if="index + 1 < data.sharedUsersDTO.length">, </span>
                </span>
                <span v-if="data.sharedUsersDTO.length > 2"
                  >and {{ data.sharedUsersDTO.length - 2 }} others
                </span>
              </span>
            </div>
          </v-flex>
          <v-flex md6 xs12>
            <div>
              <div class="headline">{{ data.time }}</div>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-title>
    <v-card-actions>
      <v-btn :to="'/analysis/' + data.scanId + '/' + data.methodType" flat icon>
        <v-icon> info </v-icon>
      </v-btn>
      <v-btn v-if="this.isOwner" @click="this.deleteClick" flat icon>
        <v-icon> delete </v-icon>
      </v-btn>
      <v-btn @click="this.shareClick" flat icon>
        <v-icon> share </v-icon>
      </v-btn>
      <v-btn flat icon @click="this.downloadClick">
        <v-icon> vertical_align_bottom </v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import axios from "@/AxiosConfiguration";
import { axiosDownloader } from "@/AxiosConfiguration.js";
export default {
  data() {
    return {
      counter: 0,
      isShow: false,
      willDark: true,
      ranImage: "String"
    };
  },
  methods: {
    deleteClick: function() {
      this.$root.$emit("confirm_delete", this.data.scanId);
    },
    shareClick: function() {
      this.$root.$emit("confirm_share", this.data.scanId);
    },
    downloadClick: function() {
      axiosDownloader
        .get("/analysis/download", {
          params: {
            scanId: this.data.scanId //this.id
          }
        })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", "signal.csv");
          document.body.appendChild(link);
          link.click();
          link.parentNode.removeChild(link);
        })
        .catch(error => {
          console.log(error);
          this.errorMessage = error.response.data.message;
        });
    }
  },
  beforeMount() {
    fetch("https://source.unsplash.com/collection/573009/400x200")
      .then(res => (this.ranImage = res.url))
      .catch(err => err);
  },
  created: function() {},
  props: ["data", "isOwner"]
};
</script>
