<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="black">
            <v-toolbar-title>Sign Up</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <SigninForm v-model="input" />
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn type="submit" @click="sendInfo" color="primary"
              >Sign up</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "@/AxiosConfiguration";
import SigninForm from "./SigninForm";

export default {
  components: { SigninForm },
  methods: {
    sendInfo: function() {
      // Be ready to make a post request
      return axios
        .post("/register", {
          firstName: this.input.firstName,
          lastName: this.input.lastName,
          email: this.input.email,
          password: this.input.password,
          username: this.input.username
        })
        .then(() => {
          this.$router.push("/login");
        })
        .catch(() => {
          this.input.isError = true;
          this.input.error = "Username already existed";
          this.clearData();
        });
    },

    clearData: function() {
      this.input.username = "";
      this.input.password = "";
      this.input.email = "";
    }
  },
  data() {
    return {
      input: {
        isError: false,
        error: "",
        valid: false,
        firstName: "",
        lastName: "",
        nameRules: [v => !!v || "Name is required"],
        email: "",
        emailRules: [
          v => !!v || "E-mail is required",
          v => /.+@.+/.test(v) || "E-mail must be valid"
        ],
        password: "",
        passwordRules: [
          v => !!v || "Password is required",
          v => v.length > 5 || "The length must be greater than 5"
        ],
        username: "",
        usernameRules: [
          v => !!v || "Username is required",
          v => v.length > 3 || "The length must be greater than 3"
        ]
      }
    };
  }
};
</script>
