<template>
  <v-form v-model="value.valid">
    <v-alert :value="value.isError" type="error">
      {{ value.error }}
    </v-alert>
    <v-text-field
      prepend-icon="person"
      name="firstname"
      label="First name"
      type="text"
      v-model="value.firstName"
      :rules="value.nameRules"
      required
    ></v-text-field>
    <v-text-field
      prepend-icon="person"
      name="lastname"
      label="Last name"
      type="text"
      v-model="value.lastName"
      :rules="value.nameRules"
      required
    ></v-text-field>
    <v-text-field
      prepend-icon="email"
      name="email"
      label="Email"
      type="email"
      v-model="value.email"
      :rules="value.emailRules"
      required
    ></v-text-field>
    <v-text-field
      prepend-icon="person"
      name="username"
      label="Username"
      id="username"
      type="text"
      v-model="value.username"
      :rules="value.usernameRules"
      required
    ></v-text-field>
    <v-text-field
      prepend-icon="lock"
      name="password"
      label="Password"
      id="password"
      type="password"
      v-model="value.password"
      :rules="value.passwordRules"
      required
    ></v-text-field>
  </v-form>
</template>
<script>
export default {
  name: "SigninForm",
  props: {
    value: {
      type: Object,
      required: true
    }
  }
};
</script>
