<template>
    <div class="Nothing">
        <v-layout>
            <v-flex xs12 sm6 offset-sm3>
                <v-card flat class="pa-5">
                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0"> {{data.msg}}</h3>
                        </div>
                    </v-card-title>

                    <v-card-actions v-if="data.link">
                        <v-btn :to="data.link" flat color="orange"> {{data.linkName}}</v-btn>

                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    export default {
      props: ['data'],

    };
</script>
